/* App.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .App {
    text-align: center;
    width: 100%;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: auto 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  nav ul li .logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  
  nav ul li .logout-button:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 2rem;
    width: 100%;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  